.greenColor {
    background-color: #506c64 ! important;
}
.champMenu {
    background-color: #eee0cb ! important;
}
.champColor{
    color : #eee0cb ! important;
}
.mc{
    margin-left: 22%  !important;
}


.boutonMenu:hover{
    background-color: #506c64;
    color : #eee0cb;
 
}
h1{
    display: block !important;
}
.btnHover :hover{
    color: #506c64 !important;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    
    .mc{
        margin-left: 10%!important;
    }
    .btn-right{
        width: 100% ! important;
    }

    
}



