.colorGreen {
    background-color: #506c64;
  }
  .colorMenu {
    background-color: #eee0cb !important;
  }
  .burgerMenu {
    margin-right: 5px;
  }
  .colorFooter {
    color: #eee0cb !important;
  }
  .connect:hover {
    background-color: #506c64 !important;
    color: #eee0cb !important;
  }
  .btn-colorGreen {
    background-color: #506c64 !important;
    color: #eee0cb !important;
  }
  .fs-6{
    font-size: 0.8rem !important;
    font-style: italic;
    padding-left: 0.5%;
  }
  main {
    background-image: url(/img/magasin4.jpg);
    height: 100vh;
  }
  
  h1 {
    display: none;
    color: #eee0cb !important;
  }
  h3 {
    font-family: "Quicksand", sans-serif;
    color: #eee0cb !important;
  }
  input {
    background-color: #eee0cb;
    height: 40px;
    border-radius: 5px;
  }
  
  #form,
  #logo {
    box-sizing: border-box;
    width: 55%;
  }
  footer {
    height: 100px;
  }
  
  @media screen and (max-width: 768px) {
    main{
      width: 100vw!important;
      height : 180vh !important

    };
    .columnView{
      display: block;
    }
    #form , #logo{
      width: 100%;
    }
  }