#stores {
    width: 70% !important;
    
}

@media screen and (max-width : 768px) {

    .columnView {
        display: block !important;
    }
    #stores{
        width: 100% !important;
    }
    .imageView{
        height: 250px !important;
    }
    
}